#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

#map {
  height: 100%;
  z-index: -1;
}

#breif  {
  color: white;
  text-align: center;
}

#window {
  width: 50%;
}

#clock {
  font-size: 60px;
}

#date {
  font-size: 25px;
}

#icon > img  {
  width: 70px;
}

#type {
  font-size: 30px;
  font-weight: bold;
}

#temp {
  padding-top: 20px;
  font-size: 30px;
}

#location {
  padding-top: 10px;
  font-size: 15px;
}

.info {
  /* border: 1px solid black; */
  width: 25%;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.time {
  white-space: nowrap;
}

#events > tr {
  border: 10px;
  font-size: 20px;
}

.eventTime {
  white-space: nowrap;
}

.top > div {
  padding: 5px
}

html, body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

.event {
  background-color: hsla(40, 50%, 50%, 0.5);
  margin: 5%;
  padding: 2.5%;
  border: 5px solid hsla(40, 50%, 50%, 1);
  font-size: 20px;
  color: hsla(0, 100%, 100%, 1);
  display: flex;
  flex-direction: column;
  width: 92.5%;
}

.event > .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event > .bottom {
  display: flex;
  font-size: 25px;
  justify-content: flex-start;
}
